@charset "UTF-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
}

img{
	border: none;
}

.clear{
	clear: both;
}

#fascia_menu{
	height: 80px;
	background-color: #e95d0f;
}

#contenuto_fascia_menu{
	width: 1120px;
	height: 100%;
	margin: 0 auto;
}

#contenuto_fascia_menu img{
	margin-right: 215px;
	float: left;
}

#contenuto_fascia_menu a{
	text-decoration: none;
}

.ancore_menu{
	color: #FFFFFF;
	font-size: 12px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-right: 35px;
	line-height: 80px;
}

.ancore_menu:visited{
	color: red;
}

#slider{
	height: 515px;
	background-color: #BEBEBE;
	background-image: url(../img/slider_tipi_perigolosi.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 215px;
}

h1{
	text-align: center;
	color: #ffffff;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 34px;
    
}

#testo_slider{
    margin-top: 80px;
	text-align: center;
	color: #ffffff;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;	
}

#corsivo_slider{
	color: #000000;
	font-style: italic;
}

.wrapper {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 800px;
	background: url(../img/slider_tipi_perigolosi.jpg) 50% 50% no-repeat;
	background-size: cover;
}

.contactus {
	border: 1px solid rgba(255,255,255,0.3);
	border-radius: 5px;
	position: relative;
	width: 40%;
	height: 40%;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

h2 {
	margin-top: 0px;
	font-size: 50px;
	color: #fff;
	font-weight: lighter;
	text-align: center;
}

input {
	display: block;
	width: 320px;
	height: 50px;
	background: rgba (0,0,0,0.3);
	outline: none;
	border: 1px solid rgba (0,0,0,0.5);
	font-weight: lighter;
	font-size: 14px;
	margin-bottom: 10px;
	padding-left: 10px;
	border-radius: 5px;
	
}

button {
	width: 332px;
	height: 50px;
	font-size: 16px;
	background: #000;
	font-weight: lighter;
	color: #fff;
	border: 0px;
	border-radius: 5px; 
}